

#page-brush {
    position: fixed;
    top: -100vh;       /* 加大隐藏距离 */
    right: -150vw;    /* 加大隐藏距离 */
    width: 400vw;
    height: 40vh;  /* 适当调整刷子的宽度 */
    background: linear-gradient(135deg, #e6eaf7 0%, #b3c5ec 100%);
    box-shadow: 0 4px 48px 0 rgba(50,90,180,0.11);
    z-index: 99999;
    border-radius: 48px;
    transform: rotate(45deg);
    opacity: 0;
    pointer-events: none;
    transition: background 0.25s;
    will-change: transform, opacity;
    display: block;       /* 用 opacity 隐藏，不要用 display:none */
}

.dark-theme #page-brush {
    background: linear-gradient(135deg, #203059 0%, #465c8f 100%);
    opacity: 0.86;
}
